.playlist-container {
    display: flex;
    min-width:85vw;
    flex-direction: column;
    padding:1rem;
    border-radius: 5px;
    box-shadow: 0 4px 16px 0 rgba(0, 0, 0, 0.25);
    background: var(--background-light);
}